<!doctype html>
<html lang="en">       
<head> <meta charset="UTF-8">
       <link type="text/css" rel="stylesheet"  href="stylesheet.css">
       
       <title> </title>
 
       </head>
<body>
      <div id="header">
  <ul>
     <li><a class="button" href="">CONTACT</a></li>
     <li><a class="button" href="">ABOUT</a></li>
     <li><a class="button" href="">HOME</a></li>
    </ul>
   <h1> RALph ALEX AUTOS </h1></div>

 <div id="navbar"> 
          <img class="imagec" src="car1.jpg">
</div>

     
 
      
   <div class="main"> 

         <h1> ABOUT US </h2>
          <div class="col"><h1>MISSION</h1><p></p></div>
           <div class="col"><h1>VISION</h1></div>
            <div class="col"><h1>ABOUT</h1></div>
 </div>
<div class="sideright">
    Name <Form action "method">
  <input type="test name"email">
  <!---name---> 
</form> <br>
   Email <Form action "method">
  <input type="test name"email">
  <!---name---> 
</form><br>
    <form action=""method="">
comment:<br>
<textarea rows="10" cols="40" > </textarea><br>
<input type="submit" value"submit">
</form>

</div>

 <div class="navbar2"> 
      <h2>SERVICES </h2>
 <img class="image" src="lexus.jpg"width="50" height="50">
</div>
    <div class="formaction"> 
      <form action="method">
<label for="Email/username">Email/username</label><br>
<input type="text"id="Email/username"name>
<!---input element go in here--->
</form><br>
    
     <form action="method">
<label for="password">password</label><br>
<input type="text"id="password"name>
<!---input element go in here--->
</form>
 <div> <button type="submit">Login</button></div>
  <p>Sign up or forget password </p> </div>

</body>
</html>